.root {
    width: 100vw;
    height: 100vh;
    background-image: url("../Assets/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
